@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.fira-code {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    background-image: linear-gradient(180deg, #d946ef -.08%, #ffffff 67.19%);
    background-repeat: no-repeat;
}

.dark body {
    background-color: #08090a;
    background-image: linear-gradient(180deg, #86198f -.08%, #08090a 67.19%);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #08090a;
}

::-webkit-scrollbar-thumb {
    background: #401b4a;
}

::-webkit-scrollbar-thumb:hover {
    background: #562563;
}

/* Text selection */
::-moz-selection {
    background: rgba(255, 255, 255, 0.62);
    color: #d946ef;
}
::selection {
    background: rgba(255, 255, 255, 0.62);
    color: #d946ef;
}

.blur-bg {
    background-color: #ffffffa1;
    transition: background-color .15s ease 0s,transform .15s ease 0s,-webkit-backdrop-filter .15s ease 0s;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.dark .blur-bg {
    background-color: #1d1d27a1!important;
}

.hu-gradient {
    background: linear-gradient(to right, #ef4444, white, #22c55e);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gaming-gradient {
    background: linear-gradient(to top right, #8e4dcd, #cb3e87);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}